/*
 * -------------------------------------------------
 * Juno config
 * -------------------------------------------------
 * Pipeline parameters specific to running Tempo with LSF on the Juno cluster at MSKCC
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000000000
  perJobMemLimit = true
}

params {

  // Limit resources so that this can run CI
  max_cpus   = 10
  max_memory = 40.GB
  max_time   = 240.h
  maxErrorRetry = 3
}

params.mem_per_core = true

process {
    withName: 'GENERATE_MEDICC_INPUT' {
        time = 2.h
        memory = 8.GB
        cpus = 1
    }
    withName: 'MEDICC:START_MEDICC_PARALLEL' {
        time = 2.h
        memory = 8.GB
        cpus = 1
    }
    withName: 'MEDICC:RUN_MEDICC_TASK' {
        time = 2.h
        memory = 4.GB
        cpus = 1
    }
    withName: 'MEDICC:FINISH_MEDICC_PARALLEL' {
        time = { 16.h * task.attempt }
        memory = { 32.GB * task.attempt }
        cpus = 1
        errorStrategy = 'retry'
    }
    withName: 'PLOT_MEDICC_RESULTS' {
        time = 2.h
        memory = 32.GB
        cpus = 1
    }
}